<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Application Response</title>
</head>
<body>
    <!-- fill this in -->
    <h1>Application Response</h1>
    <p>Thank you, {{ firstname }} {{ lastname }}. We have received your application to be a {{ jobposting }} Engineer here at Ubermelon. Your minimum salary requirement is ${{ salaryreq }}. We will be contacting you shortly, via telepathy, as we did not actually ask for your contact info in our fancy form.</p>

</body>
</html>
